body {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-family: sans-serif;
    box-sizing: border-box;
}

.dot li{
    list-style: none;
    display:inline-block;
    width:0.38rem;
    height:0.38rem;
    border-radius: 0.19rem;
    background-color: #e0e0e0;
    margin-left:0.5rem;
}
.dot{
    position:absolute;
    top:15rem;
    left:14rem;
}
.dotcolor{
    background-color:red !important;
}
.docselectcolor{
    background-color: #e0e0e0 !important;
}
.dot-pic1{
    background-color:red !important;
}
#addWrap{
    height:15.5rem;
    margin:0rem;
}
.slider{
    height:15.5rem;
}

.animate {
    transition: transform 0.3s ease-out;
}
.holder{
    height:15.5rem;
    margin:0rem auto;
    overflow: hidden;
}
.wrap{
    width:60rem;
    height:15.5rem;
}
.slider{
    float:left;
}
#goods-detail{
    height:6rem;
    /*border-bottom:thin;*/

    font-size:0.8rem;
}
.image{
    width:20rem;
    height:15.5rem;
}
#package-detail,#package,#now-price,#before-price{
    float:left;
}
#package-detail{
    clear:left;
    color:#817f7f;
    font-size:0.7rem;
}
#before-price{
    color:#817f7f;
    font-size:0.7rem;
    margin-left:3rem;
}
#package,#now-price{
    margin-top:2.7rem;
}
#package-detail,#before-price{
    margin-top:0.5rem;
}
#now-price{
    margin-left:2.5rem;
    color:red;
}
#package,#package-detail{
    width:13rem;
    margin-left:1rem;
}
.strike-center {
    position: relative;
    white-space: nowrap; /* would center line-through in the middle of the wrapped lines */
}

.strike-center:after {
    border-top: 1px solid #000;
    position: absolute;
    content: "";
    right: 0;
    top:50%;
    left: 0;
}
#buy-count-wrap{
    height:100rem;
    background:#f7f7f7;
}
#buy-count-wrap,#buy-count,#rule-one,#rule-two{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e5e5e5;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #e5e5e5;
}
.rule-detail-border{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e5e5e5;
}
#buy-count,#rule-one,#rule-two{
    height:3rem;
    background-color:white;
    margin-top:0.3rem;
    position:relative;
}
#buy-count,#rule-one,#rule-two{
    font-size:0.8rem;
    color:#7b7a7a;
    line-height: 3rem  ;
    padding-left:1rem;
}
.count-right{
    float:right;
    margin-right:1rem;
}
.count-right img{
    width:0.8rem;
}
.img-minus{
    margin-right:0.7rem;
}
.img-plus{
    margin-left:0.7rem;
}
.rule-detail{
    height:0rem;
    width:20rem;
    background-color: white;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}
.arrow-down{
    width:0.5rem;
    transform: rotate(90deg);
    position:absolute;
    right:1rem;
    top:1.1rem;
}
.arrow-up{
    width:0.5rem;
    transform: rotate(-90deg);
    position:absolute;
    right:1rem;
    top:1.1rem;
}
.rule-colors,.rule-size{
    margin-top:0.7rem;
}
.color-wrap,.size-wrap{
    margin-left:1rem;
    margin-top:1rem;
}
.color-content{
    line-height: 1.7rem;
    text-align: center;
    display:inline-block;
    width:2.5rem;
    height:1.7rem;
    background-color:white;
    margin-left:0.5rem;
    border:solid thin;
    border-color:#e0e0e0;
    border-radius: 0.05rem;
}
.rule-words{
    margin-left:1rem;
}
.size-content{
    line-height: 1.7rem;
    text-align: center;
    display:inline-block;
    width:2.5rem;
    height:1.7rem;
    border:solid thin;
    border-color:yellowgreen;
    background-color:white;
    margin-left:0.5rem;
    border-radius: 0.05rem;
}
.bottom-content {
    position: fixed;
    bottom: 0px;

    width: 100%;
    height: 2.5rem;
    background-color: #eee;
    display: block;
}

.total-label, .total-figure {
    line-height: 2.5rem;
}

.total-label {
    margin-left: 2.5rem;
    font-size: 0.9rem;
    color: #666;
}

.total-figure {
    color: red;
    font-size: 1rem;
    font-weight: bold;
}

.total-figure:before {
    content: '￥'
}

.buy-now{
    display: inline-block;
    position: absolute;
    right: 0;

    background-color: orangered;

    height: 2.5rem;
    line-height: 2.5rem;

    margin-left: 0rem;
    padding: 0 2rem;
    color: #fff;
}